.itbh-katt-wrap {
  display: flex;
  flex-direction: row;
}
.itbh-katt-wrap .katt-left {
  float: left;
  width: 15%;
  background-color: #000000;
  padding: 50px 0 10px;
  flex: 1;
  flex-basis: 15%;
}
.itbh-katt-wrap .katt-right {
  float: right;
  width: 15%;
  background-color: #000000;
  padding: 50px 0 10px;
  flex: 1;
  flex-basis: 15%;
  z-index: 10;
}
.itbh-katt-wrap .katt-middle {
  float: left;
  width: 67%;
  flex: 1;
  flex-basis: 67%;
}
#accordian {
  background: #000;
  margin: 30px 10px 0 10px;
  color: white;
}
#accordian h3 {
  font-size: 16px;
  line-height: 34px;
  padding: 0 10px;
  cursor: pointer;
  background: #000;
  margin: 10px 0 !important;
  font-weight: normal !important;
}
#accordian h3 :hover {
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
#accordian h3 i {
  font-size: 16px;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: -10px;
}
#accordian li {
  list-style-type: none;
  padding: 0 !important;
}
#accordian li .active ul {
  display: block;
}
#accordian ul ul {
  position: relative;
  display: none;
  background: #fff;
  margin: 0 10px;
  padding: 0 !important;
  border-radius: 15px;
}
#accordian ul ul li a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 27px;
  display: block;
  padding: 5px 15px;
  transition: all 0.15s;
}
#accordian ul ul li a:hover {
  background: #ddd;
  color: #000;
}
#accordian ul ul li:first-child a {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top: 10px;
}
#accordian ul ul li:first-child::before {
  position: absolute;
  left: 45%;
  top: 0;
  width: 0;
  height: 0;
  border: 10px solid rgba(0, 0, 0, 0);
  border-top: 10px solid #000;
}
#accordian ul ul li:last-child a {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.itbh-kit-elem {
  padding: 10px 10px 10px 20px!important;
  color: #fff;
  font-size: 16px;
}
.itbh-kit-elem i {
  font-size: 18px;
  vertical-align: top;
  margin-top: -3px;
  margin-right: 10px;
}
.itbh-kit-elem :hover {
  background-color: #222;
  cursor: pointer;
}
.itbh-color-section {
  border-top: 1px solid #EEEEEE;
}
.itbh-color-section .itbh-bottom-section {
  float: left;
  padding: 10px;
  display: inline-block;
  width: 25%;
}
.itbh-color-section .itbh-wall-section {
  float: left;
  padding: 10px;
  display: inline-block;
  width: 25%;
}
.itbh-color-section .itbh-furniture-section {
  float: right;
  padding: 10px;
  display: inline-block;
  width: 42%;
  text-align: right;
}
.itbh-color-section .itbh-color-elem {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 5px;
  opacity: 0.7;
  box-sizing: border-box;
}
.itbh-color-section .itbh-color-elem :hover {
  opacity: 1;
  border: 1px solid #666;
}
.itbh-color-section .itbh-color-elem img {
  border-radius: 10px;
  box-sizing: border-box;
}
#itbh-camera-control {
  text-align: center;
}
#itbh-camera-control .itbh-cam-button {
  width: 37px;
  height: 37px;
  display: inline-block;
  cursor: pointer;
}
#itbh-camera-control .itbh-cam-button-base {
  background-repeat: no-repeat;
  height: 37px;
  overflow: hidden;
  background-image: url(../images/camera-controls.jpg);
  box-sizing: border-box;
}
#cam_top_2d_view.cam_button_sprite_on {
  width: 37px;
  background-position: calc(0px) calc(-74px);
}
#cam_top_2d_view {
  width: 37px;
  background-position: calc(0px) calc(0px);
}
#cam_top_2d_view:hover {
  width: 37px;
  background-position: calc(0px) calc(-37px);
}
#cam_flattoon.cam_button_sprite_on {
  width: 37px;
  background-position: calc(-37px) calc(-74px);
}
#cam_flattoon {
  width: 37px;
  background-position: calc(-37px) calc(0px);
}
#cam_flattoon:hover {
  width: 37px;
  background-position: calc(-37px) calc(-37px);
}
#cam_front_3d_view.cam_button_sprite_on {
  width: 37px;
  background-position: calc(-74px) calc(-74px);
}
#cam_front_3d_view {
  width: 37px;
  background-position: calc(-74px) calc(0px);
}
#cam_front_3d_view:hover {
  width: 37px;
  background-position: calc(-74px) calc(-37px);
}
#cam_zoom_on_selection {
  width: 37px;
  background-position: calc(-111px) calc(0px);
}
#cam_zoom_on_selection:hover {
  width: 37px;
  background-position: calc(-111px) calc(-37px);
}
#cam_zoom_in {
  width: 37px;
  background-position: calc(-148px) calc(0px);
}
#cam_zoom_in:hover {
  width: 37px;
  background-position: calc(-148px) calc(-37px);
}
#cam_zoom_out {
  width: 37px;
  background-position: calc(-185px) calc(0px);
}
#cam_zoom_out:hover {
  width: 37px;
  background-position: calc(-185px) calc(-37px);
}
#cam_home {
  width: 37px;
  background-position: calc(-222px) calc(0px);
}
#cam_home:hover {
  width: 37px;
  background-position: calc(-222px) calc(-37px);
}
#cam_top_view {
  width: 37px;
  background-position: calc(-296px) calc(0px);
}
#cam_top_view:hover {
  width: 37px;
  background-position: calc(-296px) calc(-37px);
}
#cam_orbit_left {
  width: 37px;
  background-position: calc(-333px) calc(0px);
}
#cam_orbit_left:hover {
  width: 37px;
  background-position: calc(-333px) calc(-37px);
}
#cam_orbit_right {
  width: 37px;
  background-position: calc(-370px) calc(0px);
}
#cam_orbit_right:hover {
  width: 37px;
  background-position: calc(-370px) calc(-37px);
}
#cam_orbit_up {
  width: 37px;
  background-position: calc(-407px) calc(0px);
}
#cam_orbit_up:hover {
  width: 37px;
  background-position: calc(-407px) calc(-37px);
}
#cam_orbit_down {
  width: 37px;
  background-position: calc(-444px) calc(0px);
}
#cam_orbit_down:hover {
  width: 37px;
  background-position: calc(-444px) calc(-37px);
}
#cam_collision {
  width: 37px;
  background-position: calc(-666px) calc(0px);
}
#cam_collision:hover {
  width: 37px;
  background-position: calc(-666px) calc(-37px);
}
#cam_open_item {
  width: 37px;
  background-position: calc(-703px) calc(0px);
}
#cam_open_item:hover {
  width: 37px;
  background-position: calc(-703px) calc(-37px);
}
#cam_delete {
  width: 37px;
  background-position: calc(-740px) calc(0px);
}
#cam_delete:hover {
  width: 37px;
  background-position: calc(-740px) calc(-37px);
}
